@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.display {
  height: 85px;
  width: 300px;
  background-color: #232323;
  color: #F8F3DF;
  font-family: "Fragment Mono";
}

.operator-display {
  height: 25%;
  width: 300px;
  padding-left: 5px;
  font-size: 22px;
}

.number-display {
  height: 75%;
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 26px;
}

.buttons {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.button {
  height: 75px;
  width: 75px;
  background-color: #FFFFFF;
  border-width: thin;
  font-size: 22px;
  font-family: "Fragment Mono";
  color: #232323;
}

#equal {
  background-color: #f87d4f;
}

#division, #multiplication, #subtraction, #addition {
  background-color: #9ac9d6;
}

#clear, #backspace, #change-sign {
  background-color: #e8e8e8;
}

#addition {
  height: 150px;
}